body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  header {
    background-color: #2C3E50;
    color: white;
    padding: 1em 0;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin: 0 10px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
  }
  
  section {
    padding: 2em;
    text-align: center;
  }
  
  section img {
    max-width: 100%;
    height: auto;
  }
  
  footer {
    background-color: #2C3E50;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: relative;
    width: 100%;
    bottom: 0;
  }
  
  .intro-text {
    background-color: rgba(255, 255, 255, 0.8);
    display: inline-block;
    padding: 1em;
    margin-top: -3em;
  }

  .intro-text2 {
    background-color: rgba(189, 28, 14, 0.8);
    display: inline-block;
    padding: 1em;
    margin-top: -3em;
  }
  .boton{
    background-color: rgba(189, 28, 14, 0.8) ;
    border: none;
    padding-bottom: 5px;
  }
  .boton p{
    color: white;
  }

  .square {
    width: 200px;
    height: 200px;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #000;
    padding: 2em;
    text-align: center;
}

.square p {
    font-size: 20px;
    font-weight: bold;
    color: #000;
    text-align: center;
}


  