<section id="inicio">
    <img src="../../../assets/images/tres.png" alt="Buffet en un evento">
    <div class="intro-text">
        <h2>Bienvenidos a D3 Catering</h2>
        <p>Proveemos catering especializado para rodajes y eventos particulares.</p>
    </div>
  </section>
  <section id="inicio">
    <img src="../../../assets/images/cuatro.png" alt="Buffet en un evento">
    <div class="intro-text">
      <h2>Menú</h2>
      <p>Descubre nuestros menús personalizados para cada ocasión.</p>
    </div>
  </section>
  <section id="menu">
    <img src="../../../assets/images/una.png" alt="Plato gourmet">
    <img src="../../../assets/images/dos.png" alt="Comida nutritiva para rodajes">
  </section>