<section id="inicio">
    <img src="../../../assets/images/foto_inicial.jpg" alt="Buffet en un evento">
    <div class="intro-text">
        <h2>Bienvenidos a D3 Catering</h2>
        <p>Proveemos catering especializado para rodajes y eventos particulares.</p>
    </div>
  </section>
  <section id="inicio">
    <img src="../../../assets/images/cuatro.png" alt="Buffet en un evento">
    <div class="intro-text">
      <h2> En D3 ofrecemos:</h2>
     <ul class="text-center">
      <li>Productos de calidad</li>
      <li>Atención personalizada</li>
      <li>Calidad humana</li>
      <li>Equilibrio entre fogones</li>
      <li>Desayunos en vivo</li>
    </ul> 
      <!-- <p>Descubre nuestros menús personalizados para cada ocasión.</p> -->
    </div>
  </section>
  <section id="menu">
    <img src="../../../assets/images/una.png" alt="Plato gourmet">
    <img src="../../../assets/images/tres.png" alt="Comida nutritiva para rodajes">
  </section>