<div class="card flex justify-content-center">
<p-dialog [header]="'MODAL.TITLE' | translate" [modal]="true"  
(onHide)="onCloseModal()"
[(visible)]="isVisible" [style]="{ width: '20rem' }">
    <span class="p-text-secondary block mb-5;">{{"MODAL.TEXT" | translate}}</span>
    <div class="flex align-items-center gap-3 mb-3">
        <span (click)="useLanguage('en')" 
        style="padding-right:10px; padding-left: 50px;">
          <img src="../../../assets/images/england.png" width="25px"
          />
        </span>
        <span (click)="useLanguage('euz')"            
        >
          <img src="../../../assets/images/ikurrina.png" width="25px"
/>
        </span>
        <span (click)="useLanguage('es')">
          <img src="../../../assets/images/spain.png" width="48px"
          />
        </span>
    </div>
    <!-- <div class=" gap-3 mb-3">
        <label for="email" class="font-semibold w-6rem">Idioma actual:</label>
        <img [src]="banderaUrl" alt="Bandera" width="24px"/>
    </div> -->
    <!-- <div class="flex justify-content-end gap-2">
        <p-button label="Cancel" severity="secondary" (onClick)="onCloseModal()" />
    </div> -->
</p-dialog>
</div>
