.image-container {
  height: 50vh; /* Ajusta la altura en función de la altura de la ventana */
  overflow: hidden;
  margin-bottom: 20px;
  padding-top: 25px;
}

.parallax-image {
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Media Queries para diferentes tamaños de pantalla */
@media (max-width: 768px) {
  .image-container {
    height: 60vh;
  }
}

@media (max-width: 576px) {
  .image-container {
    height: 70vh;
  }
}


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #2C3E50;
  color: white;
  padding: 1em 0;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

section {
  padding: 2em;
  text-align: center;
}

section img {
  max-width: 100%;
  height: auto;
}

footer {
  background-color: #2C3E50;
  color: white;
  text-align: center;
  padding: 1em 0;
  position: relative;
  width: 100%;
  bottom: 0;
}

.intro-text {
  background-color: rgba(255, 255, 255, 0.8);
  display: inline-block;
  padding: 1em;
  margin-top: -3em;
}
