<!-- <div class="container">
  <div class="row">
    <div class="col-12 image-container" *ngFor="let image of images; let i = index"
    [attr.data-aos]="i % 2 === 0 ? 'fade-right' : 'fade-left'"
    >
      <div class="parallax-image" [ngStyle]="{'background-image': 'url(' + image + ')'}" data-aos="fade-up"></div>
    </div>
  </div>
</div> -->
<section id="inicio">
  <img src="../../../assets/images/tres.png" alt="Buffet en un evento">
  <div class="intro-text">
      <h2>Bienvenidos a D3 Catering</h2>
      <p>Proveemos catering especializado para rodajes y eventos particulares.</p>
  </div>
</section>
<section id="inicio">
  <img src="../../../assets/images/cuatro.png" alt="Buffet en un evento">
  <div class="intro-text">
    <h2>Menú</h2>
    <p>Descubre nuestros menús personalizados para cada ocasión.</p>
  </div>
</section>

<!-- <section id="servicios">
  <h2>Servicios</h2>
  <p>Ofrecemos catering para rodajes de películas y eventos particulares.</p>
  <img src="../../../assets/images/cuatro.png" alt="Catering en un rodaje">
</section> -->

<section id="menu">
  <img src="../../../assets/images/una.png" alt="Plato gourmet">
  <img src="../../../assets/images/dos.png" alt="Comida nutritiva para rodajes">
</section>

