<div class="form-container">
  <form>
    <p-floatLabel>
      <input pInputText id="name" [(ngModel)]="value" name="username1" />
      <label for="username1">Nombre</label>
    </p-floatLabel>
    <p-floatLabel>
      <input pInputText id="mail" [(ngModel)]="value" name="username2" />
      <label for="username2">Mail</label>
    </p-floatLabel>
    <p-floatLabel>
      <input pInputText id="username3" [(ngModel)]="value" name="username3" />
      <label for="username3">Username 3</label>
    </p-floatLabel>
    <p-floatLabel>
      <input pInputText id="username4" [(ngModel)]="value" name="username4" />
      <label for="username4">Username 4</label>
    </p-floatLabel>
    <p-floatLabel>
      <input pInputText id="username5" [(ngModel)]="value" name="username5" />
      <label for="username5">Username 5</label>
    </p-floatLabel>
    <p-floatLabel>
      <textarea 
        id="float-input" 
        rows="5" 
        cols="30" 
        pInputTextarea>
      </textarea>
      <label for="float-input">Mensaje</label>
    </p-floatLabel>
    <p-button 
      label="Aceptar" 
      icon="pi pi-check" 
      [loading]="loading" 
      (onClick)="load()" />
  </form>
</div>
