/* Estilo para el contenedor de parallax */
.parallax-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
  }
  
  .parallax-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/images/fondo2.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    z-index: -1;
  }
  
  /* Asegura que el contenedor se centre en la pantalla */
  .container-fluid {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Estilo de las cajas */
  .box, .box1 {
    width: 100%;
    max-width: 350px;
    color: #fff;
    /* border: 5px solid #fff; */
    margin: 2vh 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    box-sizing: border-box;
    text-align: center;
    font-size: calc(1em + 1vw); /* Ajuste del tamaño de fuente responsivo */
    overflow-wrap: break-word; /* Permite que el texto se ajuste dentro del recuadro */
    border-radius: 12px;
  }
  
  .box {
    background: linear-gradient(to right, #18e2e9, #ffffff);
  }
  
  .box1 {
    background: #e13053;
    background: linear-gradient(to right,  #e13053, #e8e1e3);
  }
  
  h3 {
    margin: 0;
    padding-bottom: 10px;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
  }
  
  hr {
    width: 80%;
    border: 1px solid #fff;
    margin: 10px 0;
  }
  
  p {
    margin: 0;
    overflow-wrap: break-word;
    word-break: break-word;
  }
  
  /* Ajuste para pantallas grandes */
  @media (min-width: 992px) {
    .col-lg-6 {
      flex: 0 0 50%; /* Asegura que las columnas ocupen el 50% del ancho */
      max-width: 50%; /* Limita el ancho máximo al 50% */
    }
  
    .box, .box1 {
      max-width: 100%; /* Permite que las cajas ocupen todo el ancho disponible */
    }
  }

  /* .photo{
    width: "250px"
  } */
  
  /* Ajustes específicos para dispositivos móviles */
  @media (max-width: 600px) {
    .box, .box1 {
      font-size: calc(0.8em + 1vw); /* Ajuste de tamaño de fuente para pantallas más pequeñas */
      padding: 20px;
    }
  }

  .photo {
    width: 100%; /* Asegura que la imagen sea responsiva */
    max-width: 450px; /* Tamaño máximo por defecto */
  }
  
  @media (max-width: 1200px) {
    .photo {
      max-width: 400px; /* Tamaño máximo para pantallas medianas */
    }
  }
  
  @media (max-width: 992px) {
    .photo {
      max-width: 350px; /* Tamaño máximo para pantallas más pequeñas */
    }
  }
  
  @media (max-width: 768px) {
    .photo {
      max-width: 300px; /* Tamaño máximo para tabletas */
    }
  }
  
  @media (max-width: 576px) {
    .photo {
      max-width: 250px; /* Tamaño máximo para móviles */
    }
  }
  
  /* .photo{
    width: "350px"
  } */