<div class="parallax-container">
    <div class="parallax-background"></div>
    <div class="container-fluid d-flex align-items-center justify-content-center">
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-12 d-flex justify-content-center">
          <div class="box" data-aos="fade-up-left">
            <h3>{{"HOME.PRIMERA-CARD-TITLE" | translate}}&nbsp;&nbsp;&nbsp;<img src="../../assets/images/claqueta.png"
                width="60px"
                /></h3>
            
            <hr/>
            <img *ngIf="selectedLanguage === 'es'" class="photo" src="../../../assets/images/cartel_cine.jpg" />
            <img *ngIf="selectedLanguage === 'en'" class="photo" src="../../../assets/images/inglesCine.JPG" />
            <img *ngIf="selectedLanguage === 'euz'" class="photo" src="../../../assets/images/cartel_cine_euskera.JPG" />
          </div>
        </div>
        <div class="col-lg-6 col-md-12 d-flex justify-content-center">
          <div class="box1" data-aos="fade-down-right">
            <h3>{{"HOME.SEGUNDA-CARD-TITLE" | translate}}&nbsp;&nbsp;&nbsp;<img src="../../assets/images/logoFiesta.jpg"
                width="60px"
                /></h3>
            <hr/>
            <img  *ngIf="selectedLanguage === 'es'" class="photo" src="../../../assets/images/cartel.jpg" />
            <img  *ngIf="selectedLanguage === 'en'" class="photo" src="../../../assets/images/inglesEventos.JPG" />
            <img  *ngIf="selectedLanguage === 'euz'" class="photo" src="../../../assets/images/euskeraEvento.JPG" />
          </div>
        </div>
      </div>
    </div>
  </div>
  