<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="box" data-aos="fade-up-left">
                <h3>Catering de cine</h3>
                <hr/>
                <p>oasdfhsiufhsiufgsiufsukjfsjfskjfskjfskjfhskjfhsKJFhskjfhskjfhszkjfhzskjfhzskjfhskzjfhzskj.fhzskjfh</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box1" data-aos="fade-down-right">
                <h3>Catering de eventos</h3>
                <hr/>
                <p>oasdfhsiufhsiufgsiufsukjfsjfskjfskjfskjfhskjfhsKJFhskjfhskjfhszkjfhzskjfhzskjfhskzjfhzskj.fhzskjfh</p>
            </div>
        </div>
    </div>
</div>