<div class="parallax-container">
    <div class="parallax-background"></div>
    <div class="container-fluid d-flex align-items-center justify-content-center">
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-12 d-flex justify-content-center">
          <div class="box" data-aos="fade-up-left">
            <h3>{{"HOME.PRIMERA-CARD-TITLE" | translate}}&nbsp;&nbsp;&nbsp;<img src="../../assets/images/claqueta.png"
                width="60px"
                /></h3>
            
            <hr/>
            <img class="photo" src="../../../assets/images/cartel_cine.jpg" />
            <!-- <p>Día a día nos esforzamos para que las jornadas de rodaje sean más llevaderas y con una comida cuidada, equilibrada y saludable. Juntos haremos que vuestro trabajo y el nuestro hagan un tándem perfecto.</p> -->
          </div>
        </div>
        <div class="col-lg-6 col-md-12 d-flex justify-content-center">
          <div class="box1" data-aos="fade-down-right">
            <h3>{{"HOME.SEGUNDA-CARD-TITLE" | translate}}&nbsp;&nbsp;&nbsp;<img src="../../assets/images/logoFiesta.jpg"
                width="60px"
                /></h3>
            <hr/>
            <img class="photo" src="../../../assets/images/cartel.jpg" />
            <!-- <p>Para que tus eventos sean un éxito, nuestro trabajo, basado en la salud, el equilibrio y el buen hacer, sea la elección perfecta. Todo lo que tu evento requiera, lo encontrarás en D3.</p> -->
          </div>
        </div>
         <!-- <div class="justify-content-center">
          <div class="box" data-aos="fade-up-left">
            <iframe src="../../assets/images/video1.mp4" width="600px"></iframe>
            <img src="../../assets/images/animacion_d3.jpg" class="photo"/>
            <hr/>
             <p>Día a día nos esforzamos para que las jornadas de rodaje sean más llevaderas y con una comida cuidada, equilibrada y saludable. Juntos haremos que vuestro trabajo y el nuestro hagan un tándem perfecto.</p>
          </div>
        </div> -->

      </div>
    </div>
  </div>
  