<nav
  class="navbar navbar-expand-md sticky-top"
  style="background-color:black"
  >
  <div class="container-fluid padding:10px">
    <!-- rgb(37, 42, 42);  src="{{ logoUrl }}"-->
    <!--style="background-color: rgb(37, 42, 42)"-->
    <a class="navbar-brand" [routerLink]="['']">
      <img
        
        src="../../../assets/images/logo.png"
        width="100"
        height="100"
        alt="logo"
      />&nbsp;
    </a>
    <label
      class="hamburger navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarScroll"
      aria-controls="navbarScroll"
      aria-expanded="false"
      aria-label="Toggle navigation"
      style="border: none"
    >
      <!-- </button> -->
      <input type="checkbox" />
      <svg viewBox="0 0 32 32">
        <path
          class="line line-top-bottom"
          d="M27 10 13 10C10.8 10 9 8.2 9 6 9 3.5 10.8 2 13 2 15.2 2 17 3.8 17 6L17 26C17 28.2 18.8 30 21 30 23.2 30 25 28.2 25 26 25 23.8 23.2 22 21 22L7 22"
          [style.stroke]="currentTheme === 'dark' ? '#fff' : '#fff'"
        ></path>
        <path
          class="line"
          [style.stroke]="currentTheme === 'dark' ? '#fff' : '#fff'"
          d="M7 16 27 16"
        ></path>
      </svg>
    </label>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <!--primera lista-->
      <ul class="navbar-nav me-auto my-2 my-lg-0" style="padding: 15px">
        <li class="nav-item" routerLinkActive="active" (click)="selectOption('home')" [class.selected]="selectedOption === 'home'">
          <a class="nav-link" [routerLink]="['']" data-toggle="collapse" data-target=".navbar-collapse.show">
            <span>{{"NAVBAR.HOME" | translate }}</span>
          </a>
        </li>
        <hr class="dropdown-divider" />
        <li (click)="selectOption('about')" [class.selected]="selectedOption === 'about'" class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/about_us']" data-toggle="collapse" data-target=".navbar-collapse.show">
            <span [ngClass]="{'dark-theme': currentTheme === 'dark', 'light-theme': currentTheme === 'light'}">
              {{"NAVBAR.NOSOTROS" | translate }}
            </span>
          </a>
        </li>
        <hr class="dropdown-divider" />
        <li (click)="selectOption('servicios')" [class.selected]="selectedOption === 'servicios'" class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/servicios']" data-toggle="collapse" data-target=".navbar-collapse.show">
            <span [ngClass]="{'dark-theme': currentTheme === 'dark', 'light-theme': currentTheme === 'light'}">
              {{"NAVBAR.SERVICIOS" | translate}}
            </span>
          </a>
        </li>
        <hr class="dropdown-divider" />
        <li (click)="selectOption('contact')" [class.selected]="selectedOption === 'contact'" class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/contact']" data-toggle="collapse" data-target=".navbar-collapse.show">
            <span [ngClass]="{'dark-theme': currentTheme === 'dark', 'light-theme': currentTheme === 'light'}">
              {{"NAVBAR.CONTACTO" | translate}}
            </span>
          </a>
        </li>
        <hr class="dropdown-divider" />
        </ul>
        <!-- <ul> -->
        <li style="display: flex; align-items: center;">
          <span style="padding-right: 5px;">{{textoIdioma}}</span><img src={{currentLanguage}} width="25px"/>
        </li>
        <!-- </ul> -->
      <!-- comentado para pruebas -->
        <!-- <ul class="ms-auto">
          <li>
            <span (click)="useLanguage('en')" 
            style="padding-right:10px;">
              <img src="../../../assets/images/england.png" width="25px"
              [ngClass]="{'selected-item': selectedLanguage === 'en'}"
              />
            </span>
            <span (click)="useLanguage('euz')"            
            >
              <img src="../../../assets/images/ikurrina.png" width="25px"
              [ngClass]="{'selected-item': selectedLanguage === 'euz'}"/>
            </span>
            <span (click)="useLanguage('es')">
              <img src="../../../assets/images/spain.png" width="48px"
              [ngClass]="{'selected-item': selectedLanguage === 'es'}"
              />
            </span>
          </li>
        </ul> -->
        
        <hr />
      
      
      <!--segunda lista-->
    </div>
  </div>
</nav>
